<!DOCTYPE html>
<html>
<head>
  <title>CheckMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <canvas class="webgl"></canvas>
    <div style="position: absolute; top: 400px; left: 200px; z-index: 100;">
    <input type="text" id="moveInput" placeholder="Ex: e7e5" style="padding: 5px;">
    <button  class="bouton" onclick="sendMoveFromInput()">Déplacer</button>
    </div>
    <script type="module" src="{{ url_for('static', filename='modelisation-3D.js') }}"></script>
    <script src="{{ url_for('static', filename='mouvements.js') }}"></script>
</body>
</html>
