/* -------------------------------------------------------------------------- */
/*              style.css - Styles pour l'interface web                       */
/* -------------------------------------------------------------------------- */
/* Auteur : Corentin SALVI                                                    */
/* Date : 2024-10-13                                                          */
/* -------------------------------------------------------------------------- */

/*Style global*/
/*#region*/
body {
  margin: 0;
  overflow: hidden;
}
/*#endregion*/

/*-------------------------------------------
  Style pour le bouton Deplacer
  -------------------------------------------*/
/*#region*/
.bouton {
  background-color: #ff0000; 
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.bouton:hover {
background-color: #ff0000; 
}
/*#endregion*/

/*-------------------------------------------
  Style pour l'input de saisie des mouvements
  -------------------------------------------*/
/*#region*/
input[type="text"] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 10px;
}
input[type="text"]:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
  outline: none;
}
input[type="text"]::placeholder {
  color: #aaa;
  font-style: italic;
}
/*#endregion*/
